auto-save-list
backup/
server/
local/
elpa/
site/
temp/
pkgs/*.tar
custom.el
timelog
vip
viper
kkcrc
quickurls
idlwave
bdfcache.el
shadows
places
recentf
shadow\_todo
strokes
notes
type-break
url/
.org-id-locations
\#*
org-mode-config.el
*~
.#*
\#*\#
*.log
.DS_Store
org-clock-save.el
ido.last
ac-comphist.dat
bookmarks
.graphene-geometry
smex-items
TAGS
*.elc
/flycheck-*
