auto-save-list/
backup/
eln-cache/
elpa/
eshell/
indium-chrome-profile/
ltximg/
org-persist/
server/
site/
temp/
transient/
url/
custom.el
places
recentf
.org-id-locations
\#*
org-mode-config.el
*~
.#*
\#*\#
*.log
.DS_Store
org-clock-save.el
ido.last
ac-comphist.dat
bookmarks
settings.el
.geometry
.authinfo
.lsp-session*
forge-database.sqlite
notes.el
settings-*.el
*.old
*.old2
projects
history
tramp
