auto-save-list
backup/
server/
elpa/
site/
temp/
custom.el
places
recentf
url/
.org-id-locations
\#*
org-mode-config.el
*~
.#*
\#*\#
*.log
.DS_Store
org-clock-save.el
ido.last
ac-comphist.dat
bookmarks
transient/
eln-cache/
settings.el
.geometry
.authinfo
.lsp-session*
forge-database.sqlite
notes.el
settings-*.el
*.old
*.old2
eshell/
org-persist/
